@import url("https://fonts.slider .googleapis.slider .com/css?family=Quicksand");
* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    /* color: #fff; */
}
.slider {
    margin-top: 20px;
}
/*====== WIDTH ======*/
.slider .screenW {
    width: 100vw;
}
.slider .fullW {
    width: 100%;
}
/*====== HEIGHT ======*/
.slider .screenH {
    height: 200px;
}
.slider .fullH {
    height: 200px;
}
.slider .height70 {
    height: 70px;
}
/*====== BG COLOR ======*/
.slider .dGray {
    background-color: #333;
}
.slider .white {
    background-color:  white;
}
.slider .red {
    background-color: red;
}
.slider .green {
    background-color:  green;
}
.slider .blue {
    background-color: blue;
}
.slider .yellow {
    background-color: yellow;
}
.slider .white50 {
    background-color: #ffffff80;
}
.slider .black50 {
    background-color: #00000080;
}
/*====== FONT ======*/
.slider .fSize2 {
    font-size: 2rem;
}
/*====== IMAGE ======*/
.slider .imgCover {
    object-fit: fill;
    padding: 20px;
}
/*====== OVERFLOW ======*/
.slider .overflowH {
    overflow: hidden;
}
/*====== TRANSITIONS ======*/
.slider .transition1l {
    transition: left 1s ease-in-out;
}
/*====== POSITION ======*/
.slider .abs {
    position: absolute;
}
.slider .rel {
    position: relative;
}
.slider .left0 {
    left: 0px;
}
.slider .left100vw {
    left: 100vw;
}
.slider .leftM100vw {
    left: -100vw;
}
.slider .bot0 {
    bottom: 0;
}
.slider .top0 {
    top: 0;
}
/*====== FLEX ======*/
.slider .df {
    display: flex;
}
.slider .row {
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
}
.slider .col {
    display: flex;
    flex-direction: column;
}
.slider .fCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
}
.slider .flex1 {
    flex: 1;
}
.slider .flex8 {
    flex: 8;
}

/*====== CUSTOM ======*/
.slider .dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    transition: background-color 1s ease-in-out;
}

.slider .printer {
    display: flex;
}
.slider .printer-head-container {
    width: 50px;
}
.slider .printer-head {
    width: 100%;
    height: 100%;
    position: relative;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    background-color: grey;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border: 1px solid black;
    top: -100px
}
.slider .roller-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: darkgray;
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border: 1px solid black;
    position: relative;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border: 1px solid black;
    position: relative;
    transition-delay: 1s;
    top: -12.5px;
   


}

.slider .roller-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: darkgray;
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border: 1px solid black;
    position: relative;
    transition-delay: 1s;
    bottom: -125px


}



.slider .semi-cirlce-top {
    background-color: black;
    height: 10px;
    width: 20px;
    border-radius: 10px 10px 0 0;
    border: solid 1px darkgray;
}
.slider .semi-cirlce-bottom {
    background-color: black;
    height: 10px;
    width: 20px;
    border-radius: 0 0 10px 10px;
    border: solid 1px darkgray;
}
.slider .roller-pin {
    /* width: 20%;
    height: 20%;
    background-color: black;
    border-radius: 40%; */
}

@media (min-height: 700px) {
    .slider .screenH {
        height: 300px;
    }
    .slider .fullH {
        height: 300px;
    }

    .slider .printer-head-container {
        height: 300px;
        width: 50px;
    }
    .slider .printer-head {
        top: -100px
    }
    .slider .roller-bottom {
         bottom: -225px;
         width: 50px;
         height: 50px;
    }
    .slider .roller-top {
        width: 50px;
        height: 50px;
   }
    .slider .semi-cirlce-top {
        width: 20px;
    }
    .slider .semi-cirlce-bottom{
        width: 20px;
    }



}
@media (min-height: 850px) {
    .slider .screenH {
        height: 400px;
    }
    .slider .fullH {
        height: 400px;
    }
    .slider .printer-head-container {
        height: 400px;
        width: 100px;
    }
    .slider .printer-head {
        top: -200px
    }
    .slider .roller-bottom {
         bottom: -250px;
         width: 100px;
         height: 100px;
    }
    .slider .roller-top {
        width: 100px;
        height: 100px;
        top: -25px;
   }
    .slider .semi-cirlce-top {
        width: 40px;
        height: 20px;
        border-radius: 20px 20px 0 0;
    }
    .slider .semi-cirlce-bottom{
        width: 40px;
        height: 20px;
        border-radius: 0 0 20px 20px;
    }
}
@media (min-height: 1000px) {
    .slider .screenH {
        height: 500px;
    }
    .slider .fullH {
        height: 500px;
    }
    .slider .printer-head-container {
        height: 500px;
        width: 100px;
    }
    .slider .printer-head {
        top: -200px
    }
    .slider .roller-bottom {
         bottom: -350px;
         width: 100px;
         height: 100px;
    }
    .slider .roller-top {
        width: 100px;
        height: 100px;
        top: -25px;
   }
    .slider .semi-cirlce-top {
        width: 40px;
        height: 20px;
        border-radius: 20px 20px 0 0;
    }
    .slider .semi-cirlce-bottom{
        width: 40px;
        height: 20px;
        border-radius: 0 0 20px 20px;
    }
    

}

@keyframes spin { 
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
  }
