@import url("https://fonts.slider .googleapis.slider .com/css?family=Quicksand");
* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    /* color: #fff; */
}
.slider {
    margin-top: 50px;
    
}
/*====== WIDTH ======*/
.slider .screenW {
    width: 100vw;
}
.slider .fullW {
    width: 100%;
}
/*====== HEIGHT ======*/
.slider .screenH {
    height: 200px;
}
.slider .fullH {
    height: 200px;
}
.slider .height70 {
    height: 70px;
}
/*====== BG COLOR ======*/
.slider .dGray {
    background-color: #333;
}
.slider .white {
    background-color:  white;
}
.slider .red, .col0 {
    background-color: red;
}
.slider .green, .col1{
    background-color:  green;
}
.slider .blue ,.col2{
    background-color: blue;
}
.slider .yellow,.col3 {
    background-color: yellow;
}
.slider .white50 {
    background-color: #ffffff80;
}
.slider .black50 {
    background-color: #00000080;
}
/*====== FONT ======*/
.slider .fSize2 {
    font-size: 2rem;
}
/*====== IMAGE ======*/
.slider .imgCover {
    object-fit: fill;
    padding: 20px;
}
/*====== OVERFLOW ======*/
.slider .overflowH {
    overflow: hidden;
}
/*====== TRANSITIONS ======*/
.slider .transition1l {
    transition: left 1s ease-in-out;
}
/*====== POSITION ======*/
.slider .abs {
    position: absolute;
}
.slider .rel {
    position: relative;
}
.slider .left0 {
    left: 0px;
}
.slider .left100vw {
    left: 100vw;
}
.slider .leftM100vw {
    left: -100vw;
}
.slider .bot0 {
    bottom: 0;
}
.slider .top0 {
    top: 0;
}
/*====== FLEX ======*/
.slider .df {
    display: flex;
}
.slider .row {
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
}
.slider .col {
    display: flex;
    flex-direction: column;
}
.slider .fCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}
.slider .flex1 {
    flex: 1;
}
.slider .flex8 {
    flex: 8;
}

/*====== CUSTOM ======*/
.slider .dot {
    width: 12.5px;
    height: 12.5px;
    border-radius: 50%;
    transition: background-color 1s ease-in-out;
}

.slider .printer {
    display: flex;
    background: white;
}
.slider .printer-head-container { 
    width: 75px;
    background-color: lightgray;
    border-left: 1px solid gray;
    border-radius: 25%;
}
.slider .printer-container { 
    width: 100%;
    height: 100%;
    background-color: lightgray;

}
.slider .display {
    background-color: lightgray;
    height: 40%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.slider .display .display-text {

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6px;
    width: 80%;
    height: 80%;
    
}
.slider .text-rotate {
    transform: rotate(270deg);

}
.slider .col0 {
    animation-name: flip1;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    
    
}
.slider .col1 {
    animation-name: flip2;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    
   
}
.slider .col2 {
    animation-name: flip1;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    
   
}
.slider .col3 {
    animation-name: flip2;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    
  
}
.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: gray;
    width: 80%;
    height: 20%; 
    align-items: center;
    /* justify-content: start; */
    margin: 20%;
    
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: silver;
    /* width: 100%; */
    height: 100%;
    border: 1px solid black;
    padding: 2px;
    font-size: 6px;
}

.slider .printer-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    background-color: grey;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border: 1px solid black;
    top: -100px;
    right: -25%;
}
.slider .roller-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: darkgray;
    border: 1px solid black;
    position: relative;
    border: 1px solid black;
    position: relative;
    transition-delay: 1s;
    top: -25px;
    right: -25%;
}

.slider .roller-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: darkgray;
    border: 1px solid black;
    position: relative;
    transition-delay: 1s;
    bottom: -62.5%;
    right: -25%;
}
.spin0 {
    animation-name: spin1;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
.spin1 {
    animation-name: spin2;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
.spin2 {
    animation-name: spin1;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
.spin3 {
    animation-name: spin2;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}


.slider .semi-cirlce-top {
    background-color: black;
    height: 10px;
    width: 20px;
    border-radius: 10px 10px 0 0;
    border: solid 1px darkgray;
}
.slider .semi-cirlce-bottom {
    background-color: black;
    height: 10px;
    width: 20px;
    border-radius: 0 0 10px 10px;
    border: solid 1px darkgray;
}
.slider .roller-pin {
    /* width: 20%;
    height: 20%;
    background-color: black;
    border-radius: 40%; */
}

@media (min-height: 700px) {
    .slider .screenH {
        height: 300px;
    }
    .slider .fullH {
        height: 300px;
    }

    .slider .printer-head-container {
        height: 300px;
        width: 75px;
    }
    .slider .printer-head {
        top: -100px
    }
    .slider .roller-bottom {
         bottom: -225px;
         width: 50px;
         height: 50px;
    }
    .slider .roller-top {
        width: 50px;
        height: 50px;
        top: -25px;
   }
    .slider .semi-cirlce-top {
        width: 20px;
    }
    .slider .semi-cirlce-bottom{
        width: 20px;
    }



}
@media (min-height: 850px) {
    .slider .screenH {
        height: 400px;
    }
    .slider .fullH {
        height: 400px;
    }
    .slider .printer-head-container {
        height: 400px;
        width: 125px;
    }
    .slider .printer-head {
        top: -200px
    }
    .slider .roller-bottom {
         bottom: -250px;
         width: 100px;
         height: 100px;
    }
    .slider .roller-top {
        width: 100px;
        height: 100px;
        top: -50px;
   }
    .slider .semi-cirlce-top {
        width: 40px;
        height: 20px;
        border-radius: 20px 20px 0 0;
    }
    .slider .semi-cirlce-bottom{
        width: 40px;
        height: 20px;
        border-radius: 0 0 20px 20px;
    }
    .slider .display .display-text {
        font-size: 10px;
    }
    .button {
        font-size: 8px;
    }
}
@media (min-height: 1000px) {
    .slider .screenH {
        height: 500px;
    }
    .slider .fullH {
        height: 500px;
    }
    .slider .printer-head-container {
        height: 500px;
        width: 125px;
    }
    .slider .printer-head {
        top: -200px
    }
    .slider .roller-bottom {
         bottom: -350px;
         width: 100px;
         height: 100px;
    }
    .slider .roller-top {
        width: 100px;
        height: 100px;
        top: -50px;
   }
    .slider .semi-cirlce-top {
        width: 40px;
        height: 20px;
        border-radius: 20px 20px 0 0;
    }
    .slider .semi-cirlce-bottom{
        width: 40px;
        height: 20px;
        border-radius: 0 0 20px 20px;
    }

    .slider .display .display-text {
    font-size: 12px;
    }
    .button {
        font-size: 10px;
    }
    

}



@keyframes spin1 { 
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
  }
  @keyframes spin2 { 
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
  }

  @keyframes flip1 { 
    from { 
        transform: scaleX(-1);; 
    } to { 
        transform: scaleX(1); 
    }
  }
  @keyframes flip2 { 
    from { 
        transform: scaleX(-1);; 
    } to { 
        transform: scaleX(1); 
    }
  }
 