* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


nav {
    height: 80px;
    width: 100%;
}

.nav-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
  .nav-container .check-btn {
      text-align: right;
      margin-right: 20px;
  }

/* nav ul {
    float: right;
    margin-right: 20px;
} */

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px   ;
}

nav ul li a {
    color: yellow;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
.nav-container  .phone {
    
    color: yellow;
    font-size: 17px;
    text-align: left;
    margin-left: 20px;
}

nav img {
    width: 100%;
    height: 80px;

}
a.active, a:hover {
    background:grey;
    transition: .5s;
}

.check-btn {
    font-size: 30px;
    color: yellow;
    float: right;
    line-height: 80px;
    margin-right: 10px;
    cursor: pointer;
    display: block;
}
#check {
    display: none;
}

/* @media (max-width: 952px) {
    nav ul li a {
        font-size: 16px;

    }
} */

/* .check-btn{
    display: block;
} */
nav ul {    
    position: fixed;
    width: 100%;
    height: 80%;
    top: -100%;
    background: black;
    left: 0;
    text-align: center;
    transition: all .5s;
    display: grid;
    align-items: center;
}

nav ul li {
    display: block;
    margin: 10px 0;
    line-height: 30px;
}

nav ul li a {
    font-size: 20px;
}

li a:hover, li a.active {
    background: grey;
    color: white
}
#check:checked ~ ul {
    top: 80px;
    display: grid;
}



@media (max-width: 450px) {
 .nav-container  .phone {
        line-height: 80px;
        color: yellow;
        font-size: 10px;
    }

}


/* @media (min-height: 850px) {
    .slider .screenH {
        height: 400px;
    }
    .slider .fullH {
        height: 400px;
    }

}
@media (min-height: 1000px) {
    .slider .screenH {
        height: 500px;
    }
    .slider .fullH {
        height: 500px;
    }

} */
/* @media (max-width: 858px) {
    .check-btn{
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 50%;
        top: -100%;
        background: black;
        left: 0;
        text-align: center;
        transition: all .5s;
        opacity: .9 ;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;

    }

    nav ul li a {
        font-size: 20px;
    }

    li a:hover, li a.active {
        background: grey;
        color: white
    }
    #check:checked ~ ul {
        top: 80px;

    }
    #check:checked ~ .slider {
        display: none;
        
    }

}

 */
