
.worko-tabs {
    margin: 10%;
    width: 80%;
}
.worko-tabs .state{
      position: absolute;
      left: -10000px;
    }
  
.worko-tabs .flex-tabs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}
.worko-tabs .flex-tabs .tab{
    flex-grow: 1;
    max-height: 40px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
      
.worko-tabs .flex-tabs .panel {
    background-color: #fff;
    padding: 20px;
    min-height: 300px;
    display: none;
    width: 100%;
    flex-basis: auto;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  
}
    
    
.worko-tabs .tab {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    background-color: #eee;
    cursor: hand;
    cursor: pointer;
    border-left: 10px solid #ccc;
    color: dodgerblue;
} 
.worko-tabs .tab:hover{
    background-color: #fff;
}
     


#tab-one:checked ~ .tabs #tab-one-label,
#tab-two:checked ~ .tabs #tab-two-label,
#tab-three:checked ~ .tabs #tab-three-label,
#tab-four:checked ~ .tabs #tab-four-label{
    background-color:dodgerblue;
    cursor: default;
    border-left-color: yellow;
    color: white;
}

#tab-one:checked ~ .tabs #tab-one-panel,
#tab-two:checked ~ .tabs #tab-two-panel,
#tab-three:checked ~ .tabs #tab-three-panel,
#tab-four:checked ~ .tabs #tab-four-panel {
    display: block;
}


@media (max-width: 600px){
  .flex-tabs{
    flex-direction: column;
  }
  .flex-tabs .tab{
      background: #fff;
      border-bottom: 1px solid #ccc;
      

    }
  }
  
    #tab-one:checked ~ .tabs #tab-one-label,
    #tab-two:checked ~ .tabs #tab-two-label,
    #tab-three:checked ~ .tabs #tab-three-label,
    #tab-four:checked ~ .tabs #tab-four-label{
      border-bottom: none;
    }
  
  #tab-one:checked ~ .tabs #tab-one-panel,
  #tab-two:checked ~ .tabs #tab-two-panel,
  #tab-three:checked ~ .tabs #tab-three-panel,
  #tab-four:checked ~ .tabs #tab-four-panel{
    border-bottom: 1px solid #ccc;
  }

  @media (min-width: 1200px){
    .worko-tabs {
        margin: 10% 20%;
          width: 60%;
    }
  }

