

.icon a.active, a:hover {
  background: none;
  transition: .5s;
  }


  .App .products-scrollable {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
  }
  .App .products-scrollable img {
    width: 75px;
    height: 75px;
    background-color: white;
    border: none;
  }
  
  .App .products-scrollable a {
    background-color: white;
    border-radius: 15%;
    border: solid 3px black;
    margin: 10%;
  }
  .App .products-scrollable a:hover{
    border: solid 10px yellow;

  }

  .App .products-scrollable .selected {

    border: solid 10px yellow;
    animation-name: flip;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
.App .icon {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
  .App .icon-product-name {
    display: flex;
    width: 75px;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 12px;
  }
  
  .App .icon-product-image-size {
    width: 75px;
    display: flex;
    justify-content: center;
  }
  .product-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
  }

@media (max-width: 858px) {
    .App .icon {
      /* width: 100px; */
     
    }
    .App .icon-product-name {
        display: flex;
        /* width: 100px; */
        justify-content: center;
        align-items: center;
        background-color: white;
        font-size: 8px;
      }
      
      .App .icon-product-image-size {
        /* width: 100px;
        height: 100px; */
        display: flex;
        justify-content: center;
      }
      .App .products-scrollable {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr) );
      }
      .App .products-scrollable img {
        width: 50px;
        height: 50px;
        width: 50px;
        height: 50px;
        background-color: white;
      }
      .products-scrollable .icon-product-name {
        width: 50px;
        font-size: 5px;
      }



}

@keyframes flip { 
  from { 
      transform: scaleX(-1);; 
  } to { 
      transform: scaleX(1); 
  }
}

